# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.StarterProject.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../:\.Net-Core-5-Starter-Project\.idea\.idea.StarterProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
